.grid {
  margin: 0 auto;
  width: min(100%, calc(1110 / 16 * 1rem));

  display: grid;
  gap: 1.5rem 1.875rem;
  grid-template-areas:
    "c-1"
    "c-2"
    "c-3"
    "c-4"
    "c-5";

  & > *:nth-child(1) {
    grid-area: c-1;
  }

  & > *:nth-child(2) {
    grid-area: c-2;
  }

  & > *:nth-child(3) {
    grid-area: c-3;
  }

  & > *:nth-child(4) {
    grid-area: c-4;
  }

  & > *:nth-child(5) {
    grid-area: c-5;
  }
}

@media screen and (min-width: calc(588 / 16 * 1rem)) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "c-1 c-1"
      "c-2 c-3"
      "c-4 c-4"
      "c-5 c-5";
  }
}

@media screen and (min-width: calc(873 / 16 * 1rem)) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "c-1 c-1 c-2"
      "c-3 c-4 c-4"
      "c-5 c-5 c-5";
  }
}

@media screen and (min-width: calc(1160 / 16 * 1rem)) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "c-1 c-1 c-2 c-5"
      "c-3 c-4 c-4 c-5";
  }
}
