@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-primary-moderate-violet: hsl(263, 55%, 52%);
  --clr-primary-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-primary-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --clr-primary-white: hsl(0, 0%, 100%);
  --clr-neutral-light-gray: hsl(0, 0%, 81%);
  --clr-neutral-light-grayish-blue: hsl(210, 46%, 95%);

  --ff-serif: "Barlow Semi Condensed", serif;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fs-rg: 0.8125rem;

  font-size: 16px;
}

html {
  height: 100%;
}

body {
  height: inherit;
}

#root {
  height: inherit;

  font-family: var(--ff-serif);
  font-size: var(--fs-rg);
}
